# /etc/cron.d/PLUGINNAME: plugin crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.
#
# Documentation:
# https://www.loxwiki.eu/pages/viewpage.action?pageId=23462653#Pluginf%C3%BCrdenLoxberryentwickeln(abVersion1.x)-Unterverzeichnis:cronYellowOptional
#

MAILTO=""
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# DIE AUSGABE GEHT NICHT MEHR NACH /dev/null.
#
# Bis 2.1.13 endeten beide Zeilen auf >/dev/null 2>&1. Beide Skripte geben ihr
# Ergebnis per echo aus - es ging also ausnahmslos ins Nichts, und weder
# Zeitraffer noch Bereinigung hinterliessen irgendeine Spur. Ein Cron-Dienst,
# der schweigend nichts tut, ist schlimmer als keiner: genau daran sind im
# Bestand acht Fassungen eines anderen Plugins vorbeigelaufen.
#
# Jetzt landet die Ausgabe ueber logger im Systemprotokoll, und die Skripte
# schreiben ausserdem selbst ins Plugin-Protokoll und setzen einen Merker, den
# der Reiter Test anzeigt ("Wann lief der Zeitraffer zuletzt?").

# m h dom mon dow user  command
# Zeitraffer und Intervallaufnahme: prueft minuetlich, ob etwas zu tun ist
# (beendet sich sofort, wenn beides ausgeschaltet ist)
* * * * * loxberry cd REPLACELBHOMEDIR/webfrontend/html/plugins/REPLACELBPPLUGINDIR && /usr/bin/php timelapse.php 2>&1 | logger -t REPLACELBPPLUGINDIR
# Archiv-Bereinigung: loescht taeglich alte, ueberzaehlige und zu grosse Dateien
# (beendet sich sofort, wenn keine Grenze eingestellt ist)
35 3 * * * loxberry cd REPLACELBHOMEDIR/webfrontend/html/plugins/REPLACELBPPLUGINDIR && /usr/bin/php cleanup.php 2>&1 | logger -t REPLACELBPPLUGINDIR
